
@media (max-width: 480px) {

    h1 {
      font-size: 2em;
    }

    .movie-title {
        font-size: 1.2em;
    }

    .header-links-container {
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
    }

    .hero-actions {
        display: flex;
        flex-wrap: wrap;
        gap: .5em; 
        flex-direction: column;
    }
}
